.admin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $light_black;
}

.admin__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 800px;
  background-color: $white;
}

.admin__line {
  display: flex;
  align-items: center;
  height: 100%;
}

.admin__options,
.admin__preview {
  height: 100%;
}

.admin__options {
  max-width: 25%;
  flex: 1 1 25%;
  background-color: $slate_gray;
}

.admin__preview {
  max-width: 75%;
  flex: 1 1 75%;
  overflow: scroll;
}

.admin__navigation-item {
  width: 100%;

  @include hover {
    background-color: $purple;
    cursor: pointer;
    transition: $normal;
  }
}

.admin__navigation-link {
  display: block;
  color: $white;
  font-size: 20px;
  width: 100%;
  padding: 20px 10px;
}

.admin__account {
  max-width: 400px;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.admin__profile-photo {
  max-width: 100px;
  max-height: 100px;
}

.admin__products-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.admin__products-item {
  margin: 0 10px;
  max-width: calc(33.33% - 20px);
  flex: 1 1 calc(33.33% - 20px);
  text-align: center;
}

.admin__product-image {
  display: block;
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto 10px auto;
}

.admin__product-title {
  display: block;
  font-size: 18px;
  font-weight: $semi;
  margin-bottom: 5px;
}

.admin__product-price {
  display: block;
  font-size: 15px;
}
