.shop__header-line,
.shop__header-primary,
.shop__header-form,
.navigation__list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.shop__header-line {
  padding: 20px 0;
  justify-content: space-between;
}

.shop__header-logo {
  display: block;
  font-size: 40px;
  font-weight: $semi;
  color: $black;
}

.shop__logo-decoration {
  color: $red;
}

.shop__header-form {
  display: flex;
}

.shop__header-search {
  display: block;
  width: 600px;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 4px 17px 5px $gray;
  margin: 0 15px;
}

.navigation__list-item {
  margin-right: 30px;
}

.navigation__list-link {
  display: flex;
  align-items: center;
  color: $black;
  font-size: 15px;

  @include hover {
    transition: $normal;
    opacity: 0.7;
  }
}

.navigation__link-image {
  display: block;
  max-width: 25px;
  max-height: 25px;
  margin-right: 8px;
}

.navigation__link-text {
  color: $black;
  opacity: 0.6;
}

.shop__sales {
  display: block;
  text-align: center;
  padding: 13px;
  font-size: 17px;
  width: 100%;
  background-color: $black;
  color: $white;
}

.shop__marketing-line {
  display: flex;
  padding: 20px 0;
}

.shop__marketing-list--large {
  margin: 0 10px;
  max-width: calc(60% - 20px);
  flex: 1 1 calc(60% - 20px);
}

.shop__marketing-list--small {
  margin: 0 auto;
  max-width: calc(40% - 20px);
  flex: 1 1 calc(40% - 20px);
}

.shop__marketing-item {
  position: relative;
  max-width: 100%;
  border-radius: 20px;

  @include background;

  @include hover {
    transform: scale(1.01);
    transition: $normal;
  }
}

.shop__marketing-item--large {
  min-height: 600px;
}

.shop__marketing-link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;

  @include after {
    @include darker;
    background-color: $black;
    opacity: 0.5;
    z-index: 1;
    border-radius: 20px;
  }
}

.shop__marketing-link--large {
  min-height: 600px;
}

.shop__marketing-title {
  position: relative;
  position: absolute;
  font-weight: $semi;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  z-index: 10;
}

.shop__marketing-title--large {
  font-size: 40px;
}

.shop__marketing-title--small {
  font-size: 20px;
}

.shop__marketing-item--small {
  min-height: 295px;
  margin-bottom: 10px;
}
